*{
    margin:0;
    padding:0;
    font-family: 'STIX Two Text', serif;
    font-family:"'Poppins', sans-serif";
}
.header{
    min-height:90vh;
    width:100;
    background:linear-gradient(rgba(255,69,0,0.7),rgba(255,69,0,0.7)),url("../images/header.jpg") no-repeat fixed;
    background-position:center;
    background-size:cover;
    position:relative;
}
.text{
    position:absolute;
    bottom:0;
    left:0;
    color:#fff;
}
.text h1{
    font-size:80px;
}
/*--about akan section--*/
.text-box{
    width:80%;
    margin:auto;
    text-align:center;

}
p{
    color:#777;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
    font-family:"'Poppins', sans-serif";}
/*--input section--*/
.response{
    width:80%;
    margin:auto;
    text-align:center;
}
h6{
    font-size:36px;
    font-weight:600;
}
.footer-area{
    margin-top:100px;
    padding:0;
    box-sizing:border-box;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2749c4+3,2989d8+50,7db9e8+100 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(39,73,196,1) 3%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(39,73,196,1) 3%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(39,73,196,1) 3%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    color:black;
    position:relative;
    }
.footer-wave-box{
    position:absolute;
    left:0;
    top:0;
    right:0;
    height:50px;
    background-color: red;
}
.footer-wave.footer-animation{
    background-image:url('img/footer-shape.png');
    position:absolute;
    left:0;
}
.main{
     width:1200px;
     margin:0 auto;
     box-sizing:border-box;
    }
.footer{
     display:flex;
     justify-content:space-around;
     flex-wrap:wrap;
     flex-direction:row;
}
.single-footer{
     width:230px;
}
.single-footer:first-child{
     width:400px
} 
.single-footer h4{
     text-transform:capitalize;
     font-size:22px;
     margin-bottom:20px;
}
.footer-social a{
     color:#fff;
     border:1px solid #fff;
     width:40px;
     height:40px;
     display:inline-block;
     text-align:center;
     line-height:40px;
     border-radius:50%;
     margin-right:10px;
}
.footer-social{
     margin-top:20px;
}
.single-footer ul{
     list-style:none;
}
.single-footer ul li{
     margin-bottom:10px;
     position:relative;
     padding-left:20px;
}
.single-footer ul li a{
     color:black ;
     text-transform:capitalize;
     text-decoration:none;
}
.single-footer ul li a i{
     position:absolute;
     left:0;
     top:5px
}
.copy{
     text-align:center;
     text-transform:capitalize;
     margin-top:50px;
}




