*{
    margin:0;
    padding:0;
}
.header{
    min-height:90vh;
    width:100;
    background:linear-gradient(rgba(),rgba()),url("../img/header.jpg") no repeat;
    background-position:center;
    background-size:cover;
    position:relative;
}